.file-upload-config {
  margin: 24px 24px 12px 24px;
}

.file-upload-content {
  display: flex;
  align-items: center;
}

.file-upload-card {
  border: 1px dashed rgb(217, 217, 217);
  border-radius: 4px;
  margin: 10px 0;
  padding: 8px;
  transition: opacity 0.3s, height 0.3s;
}

.file-upload-card:nth-last-child(1) {
  margin-bottom: 0;
}

.file-upload-card.error {
  border-style: solid;
  border-color: rgb(255, 77, 79);
  color: #ff4d4f;
}

.file-upload-card.done {
  border-style: solid;
}

.file-upload-text {
  padding-left: 8px;
  color: inherit;
  flex: auto;
}

.file-upload-delete {
  color: rgba(0, 0, 0, .4);
}

.file-upload-card.error,
.file-upload-card.error .file-upload-delete,
.file-upload-card.error .file-upload-text {
  color: white;
  background: rgb(255, 77, 79);
}

.file-upload-icon {
  width: 48px;
  height: 48px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
